{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="p-2 border border-light rounded-3" action="#" method="POST">
                    <div class="mb-1">
                        <label class="form-label" for="vendor_id">Vendor</label>
                        <input class="form-control" id="vendor_id" type="text" name="vendor" placeholder="Enter car vendor">
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="model_id">Model</label>
                        <input class="form-control" id="model_id" type="text" name="model" placeholder="Enter car model">
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="year_id">Year</label>
                        <input class="form-control" id="year_id" type="text" name="year" placeholder="Enter car manufactured year">
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="class_id">Class</label>
                        <select class="form-control" id="class_id" name="class">
                            <option value="B700">B700</option>
                            <option value="A800">A800</option>
                            <option value="S1900">S1900</option>
                            <option value="S2998">S2998</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="type_id">Type</label>
                        <select class="form-control" id="type_id" name="type">
                            <option value="ROAD">ROAD</option>
                            <option value="DIRT">DIRT</option>
                            <option value="OFFROAD">OFFROAD</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="power_id">Power</label>
                        <input class="form-control" id="power_id" type="text" name="power" placeholder="Enter car power in hp">
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="mass_id">Mass</label>
                        <input class="form-control" id="mass_id" type="text" name="mass" placeholder="Enter car mass in kg">
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="max_speed_id">Max Speed</label>
                        <input class="form-control" id="max_speed_id" type="text" name="max_speed" placeholder="Enter car max speed in km/h">
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="drivetrain_id">Class</label>
                        <select class="form-control" id="drivetrain_id" name="drivetrain">
                            <option value="AWD">AWD</option>
                            <option value="FWD">FWD</option>
                            <option value="RWD">RWD</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="test_track_id">Test Track</label>
                        <input class="form-control" id="test_track_id" type="text" name="test_track" placeholder="Enter test track time (mm:ss.ms)">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image_id">Car Image</label>
                        <input class="form-control" id="image_id" type="text" name="image" placeholder="Enter link to car image">
                    </div>
                    <div>
                        <button class="btn btn-secondary" type="submit">Add car</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
{% endblock%}